<p>Hello {{ name }},</p>
<p>We received your password reset request. Please copy this code and paste it into the page that we've redirected you.</p>

<h2>{{ token }}</h2>

<p>If you did not request this email you can safely ignore it.</p>
