<p>Hello!</p>
<p>You received an invite to signup in vitalFlow.</p>
<p>Go to {{signupUrl}} and use the token below to singup into our platform.</p>

<h2>{{ token }}</h2>

<p>If you did not expect this email you can safely ignore it.</p>